@import '../../global.scss';

.login-label {
    align-self: flex-start;
    color: $secondaryFontColor;
}

.login-input {
    align-self: flex-start;
    border: 0;
    outline: 0;
    font-size:24px;
    padding: 10px 0;
}
.login-input:focus {outline:none!important;}