---
id: "app"
---
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
        {{!-- <link href="./styles.css" rel="stylesheet" /> --}}
        {{!-- <script src="src/index.js" type="module"></script> --}}
    </head>
    <body>
        <ul>
            <li><a href="./src/pages/errors/error500/error500.hbs">500</a></li>
            {{!-- <li><a href="./Error404.html">404</a></li>
            <li><a href="./Login.html">Вход</a></li>
            <li><a href="./Registration.html">Регистрация</a></li>
            <li><a href="./Dialog.html">Чат</a></li>
            <li><a href="./ChatList.html">Список чатов</a></li>
            <li><a href="./ProfileView.html">Профиль</a></li>
            <li><a href="./ProfileEdit.html">Редактирование профиля</a></li>
            <li><a href="./PasswordChange.html">Смена пароля</a></li> --}}
        </ul>
    </body>
</html>