<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
        {{!-- <link href="./src/global.scss" rel="stylesheet/scss" type="text/css" /> --}}
        <script src="src/index.js" type="module"></script>
    </head>
    <body>
        <div id="app">
            <ul>
                <li><a href="./src/pages/error500/error500.hbs">500</a></li>
                <li><a href="./src/pages/error404/error404.hbs">404</a></li>
                <li><a href="./src/pages/login/login.hbs">Вход</a></li>
                {{!-- <li><a href="./Login.html">Вход</a></li>
                <li><a href="./Registration.html">Регистрация</a></li>
                <li><a href="./Dialog.html">Чат</a></li>
                <li><a href="./ChatList.html">Список чатов</a></li>
                <li><a href="./ProfileView.html">Профиль</a></li>
                <li><a href="./ProfileEdit.html">Редактирование профиля</a></li>
                <li><a href="./PasswordChange.html">Смена пароля</a></li>  --}}
            </ul>
        </div>
    </body>
</html>