@import '../../../../global.scss';


.chats-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    margin-left: 14px;
    margin-bottom: 14px;

    .chats-header__menu {
        border: none;
        background-color: transparent;

        .chats-header__menu-icon {
            width: 16px;
            height: 12px;
        }
    }

    .chats-header__search {
        box-sizing: border-box;
        width: 224px;
        height: 32px;
        border: none;
        border-radius: 5px;
        color: $secondaryColor;
        background-color: $quaternaryColor;
        font-size: 12px;
        line-height: 12px;
        text-align: center;
    }
}
